<nav
  class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top mb-2"
>
  <div class="container-fluid justify-content-end">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <!-- <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="d-flex align-items-center me-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-3 ms-sm-1">
        <a class="nav-link" href="/listings/new">Add Your Listing</a>
      </div>
    </div>
    <!-- <div class="search-bar ms-auto d-none d-sm-inline me-2">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search destinations"
          aria-label="Search"
        />
        <button class="btn btn-danger text-nowrap" type="submit">
          <i class="fa-solid fa-magnifying-glass d-inline"></i>&nbsp; Search
        </button>
      </form>
    </div> -->
    <div class="btn-group nav-dropdown me-4">
      <button
        type="button"
        class="btn btn-light dropdown-toggle p-0"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <% if(currUser){%>
        <img
          src="<%=currUser.profileImage.url%>"
          alt=""
          alt=""
          style="
            height: 30px;
            width: 30px;
            border: 0.5px solid black;
            border-radius: 50%;
          "
        /><%}else{%>
        <i
          class="fa-solid fa-circle-user"
          style="font-size: 2rem; color: chocolate"
        ></i>
        <%}%>
      </button>
      <ul class="dropdown-menu dropdown-menu-end p-2">
        <% if (!currUser) { %>

        <li>
          <a class="nav-link m-2" href="/login"><b>Log in</b></a>
        </li>
        <li>
          <a class="nav-link m-2" href="/signup"><b>Sign up</b></a>
        </li>
        <% } %> <% if (currUser) { %>
        <p class="text-nowrap">
          <img
            src="<%= currUser.profileImage.url %>"
            alt=""
            style="
              height: 50px;
              width: 50px;
              border: 0.5px solid black;
              border-radius: 50%;
            "
          />&nbsp;&nbsp;&nbsp;<%= currUser.username %>
        </p>
        <hr />
        <li>
          <a
            class="nav-link"
            href="/profile/<%=
          currUser.username %>"
            >My Profile</a
          >
        </li>
        <!-- <li>
          <a class="nav-link" href="/profile?q=listings">My Listings</a>
        </li> -->
        <li class="mt-1">
          <a
            class="nav-link"
            href="/profile/<%= currUser.username %>?q=my-bookings"
            >My Bookings</a
          >
        </li>
        <li class="mt-1">
          <a
            class="nav-link"
            href="/profile/<%=
          currUser.username %>"
            >My Listings</a
          >
        </li>
        <li class="mt-1">
          <a class="nav-link" href="/listings/new">Add Listing</a>
        </li>
        <hr />
        <li>
          <a class="nav-link" href="/logout" style="color: red !important"
            ><b>Log out</b></a
          >
        </li>

        <% } %>
      </ul>
    </div>
  </div>
</nav>
